<?xml version="1.0"?>
<config>
    <modules>
        <Credevlabz_Tileslider>
            <version>1.0.0</version>
        </Credevlabz_Tileslider>
    </modules>
    <frontend>
        <routers>
            <tileslider>
                <use>standard</use>
                <args>
                    <module>Credevlabz_Tileslider</module>
                    <frontName>Tileslider</frontName>
                </args>
            </tileslider>
        </routers>
    </frontend>
	<adminhtml>
		<layout>
			<updates>
				<tileslider>
					<file>tileslider.xml</file>
				</tileslider>
			</updates>
		</layout>
	</adminhtml>
    <global>
        <models>
            <tileslider>
                <class>Credevlabz_Tileslider_Model</class>
                <resourceModel>tileslider_mysql4</resourceModel>
            </tileslider>
            <tileslider_mysql4>
                <class>Credevlabz_Tileslider_Model_Mysql4</class>
                <entities>
                    <tileslider>
                        <table>Tileslider</table>
                    </tileslider>
                </entities>
            </tileslider_mysql4>
        </models>
        <resources>
            <tileslider_setup>
                <setup>
                    <module>Credevlabz_Tileslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tileslider_setup>
            <tileslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tileslider_write>
            <tileslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tileslider_read>
        </resources>
        <blocks>
            <tileslider>
                <class>Credevlabz_Tileslider_Block</class>
            </tileslider>
        </blocks>
        <helpers>
            <tileslider>
                <class>Credevlabz_Tileslider_Helper</class>
            </tileslider>
        </helpers>
    </global>
	<default>
		<tileslider>
			<general>
				<width>900</width>
				<height>320</height>
				<overlayer>false</overlayer>
				<pause_on_click>false</pause_on_click>
				<portrait>false</portrait>
				<thumbnails>false</thumbnails>
				<bar_position>bottom</bar_position>
				<skin>camera_grey_skin</skin>
				<cols>6</cols>
				<rows>4</rows>
				<pie_diameter>38</pie_diameter>
				<sliced_cols>0</sliced_cols>
				<sliced_rows>0</sliced_rows>
				<time>7000</time>
				<trans_period>1200</trans_period>
				<grid_difference>250</grid_difference>
			</general>
		</tileslider>
	</default>
    <admin>
        <routers>
            <tileslider>
                <use>admin</use>
                <args>
                    <module>Credevlabz_Tileslider</module>
                    <frontName>Tileslider</frontName>
                </args>
            </tileslider>
        </routers>
    </admin>
</config>